// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  color-scheme: light;
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );

  &.dark-theme {
    color-scheme: dark;
    @include mat.theme(
      (
        color: (
          theme-type: dark,
          primary: mat.$azure-palette,
          tertiary: mat.$blue-palette,
        ),
      )
    );
  }
}

body {
  // Default the application to a light color theme.
  // When html has .dark-theme, system-level CSS variables automatically adapt.
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  transition:
    background-color 0.25s ease,
    color 0.25s ease;
}

html,
body {
  height: 100%;
}

main {
  padding: 32px;
}
